.contacto-container {
  margin-top: 120px;
  text-align: center;
  color: blanchedalmond;
}

.mapas-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.mapa {
  flex: 1 1 300px;
  max-width: 400px;
}

a {
  color: blanchedalmond;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff6600; /* color cuando pasás el mouse */
  text-decoration: underline;
}
