.contacto-container {
  margin-top: 120px;
  text-align: center;
  color: blanchedalmond;
}

.mapas-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.mapa {
  flex: 1 1 300px;
  max-width: 400px;
}

.instagram-link {
  color: #e1306c; /* color de Instagram */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.instagram-link:hover {
  color: #ff66a5;
  text-decoration: underline;
}